.gray-box {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #F4F1F1;
    border-radius: 0.5rem;
}

.gray-box-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.gray-box-text {
    font-size: 0.9rem;
    margin: 0.15rem;
    cursor: pointer;
}

.gray-dropdown {
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.gray-dropdown-mobile {
    width: 100%;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
    cursor: pointer;
}