.home-greetings-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-greetings-box-mobile {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-greetings-emoji {
    font-size: 4rem;
}

.home-greetings-emoji-mobile {
    font-size: 3rem;
}

.home-greetings-text {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.home-greetings-text-mobile {
    margin-left: 1rem;
    font-size: 1rem;
}

.reservation-box {
    justify-content: space-around;
}

.reservation-box > * {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.reservation-box-mobile > * {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.reservation-room-list-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reservation-room-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.gray-box {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #F4F1F1;
    border-radius: 0.5rem;
}

.gray-box-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.gray-box-text {
    font-size: 0.9rem;
    margin: 0.15rem;
    cursor: pointer;
}

.gray-dropdown {
    width: 6.25rem;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.gray-dropdown-mobile {
    width: 100%;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.reservation-date-calendar {
    position: fixed;
    border-radius: 0.75rem;
}

.search-box {
    width: 11.25rem;
}

.search-box-input {
    background-color: transparent;
    border: 0;
    outline: none;
}


/* WIP Box */
.wip-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wip-box-mobile {
    display: flex;
    flex-direction: column;
}

.wip-time-text {
    font-size: 1.25rem;
}

.wip-description-text {
    flex: 1;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.wip-description-text-mobile {
    margin-top: 0.25rem;
}

.wip-end-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wip-participants-text {
    width: 8rem;
    margin-right: 1rem;
    color: #555555;
}

.wip-participants-text-mobile {
    font-size: 0.75rem;
    color: #555555;
}

.admission-confirm-button {
    padding: 0 1rem;
}

.admission-confirm-button-mobile {
    margin-top: 0.25rem;
}


/* Repetition Modal */
.rep-modal-option-box {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rep-modal-option {
    border: 0.1rem #C31632 solid;
    color: #C31632;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rep-modal-option-selected {
    background-color: #C31632;
    color: white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rep-end-count-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.rep-count-input {
    width: 1.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFE4E0;
    border: 0;
    outline: none;
}

.rep-end-count-description {
    margin-left: 0.25rem;
    font-weight: 600;
}

.end-date-calendar {
    margin-top: 1rem;
}