.reservation-box {
    justify-content: space-around;
}

.reservation-box > * {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.reservation-box-mobile > * {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.reservation-room-list-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reservation-room-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.gray-box {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #F4F1F1;
    border-radius: 0.5rem;
}

.gray-box-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.gray-box-text {
    font-size: 0.9rem;
    margin: 0.15rem;
    cursor: pointer;
}

.gray-dropdown {
    width: 6.25rem;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.gray-dropdown-mobile {
    width: 100%;
    background-color: transparent;
    border: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.reservation-date-calendar {
    position: fixed;
    border-radius: 0.75rem;
}

.search-box {
    width: 11.25rem;
}

.search-box-input {
    background-color: transparent;
    border: 0;
    outline: none;
}