.email-input-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.email-input {
    flex: 1;
}

.send-code-button {
    background-color: #C31632;
    color: white;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    margin-left: 0.5rem;
    cursor: pointer;
}

.send-code-button-disabled {
    background-color: #AEAEAE;
    color: white;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    padding: 0.25rem;
    font-weight: 600;
    margin-left: 0.5rem;
    cursor: pointer;
}