.background-red {
    background-color: #C31632;
}

.semi-bold {
    font-weight: 600;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-top-1rem {
    margin-top: 1rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.contents-box {
    width: 55rem;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
}

.contents-box-title-text {
    font-size: 1.25rem;
    font-weight: 600;
}