.background-red {
    background-color: #C31632;
}

.semi-bold {
    font-weight: 600;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-top-1rem {
    margin-top: 1rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.contents-box {
    display: flex;
    flex-direction: row;
    width: 55rem;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
}

.contents-box-mobile {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
}

.contents-with-title-box-mobile {
    width: calc(100% - 2rem);
}

.contents-box-title-text {
    font-size: 1.25rem;
    font-weight: 600;
}

.red-box {
    min-height: 2.5rem;
    background-color: #C31632;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.red-box-text {
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
}

.checkbox {
    accent-color: white;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}